@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);

}
main h1{
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 3.5rem;
    font-weight: 800;
    z-index: 500;
}
.botonContenedor{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
    background-color: #2c2c2c;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2rem;
    cursor: pointer;
}
.opciones{
    height: 20VH;
}
header{
    height: 15vh;
    width: 100%;
    background-image: url(../imagenes/navbar.png);
    background-size: cover;
    background-position: center;
}
main{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    width: 100%;
}
#seccionFooter{
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1C1C;
}
.primeraSeccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 40%;
}
.primeraSeccion h3{
    font-family: 'Montserrat';
    color: #7B7B7B;
    font-weight: 800;
    font-size: 7rem;
}
.primeraSeccion span{
    font-family: 'Montserrat';
    color: #7B7B7B;
    font-weight: 800;
    font-size: 1rem;
}
.terceraSeccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0%;
    width: 40%;
}
.terceraSeccion span{
    font-family: 'Montserrat';
    color: #7B7B7B;
    font-weight: 800;
    font-size: 1.5rem;
    list-style: none;
    text-align: right;
    height: 20%;
}